:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e1a26a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.button-container {
  display: flex; 
  gap: 20px;
}

.accept-button {
  background-color: #a5b462; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.reject-button {
  background-color: #404040; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.dog-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 25px;
  background-color: #97533d;
  box-shadow: 0 0 1em #000000aa;
  transition: 0.25s;
  height: 650px;

}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  height: 682px;
  max-width: 400px;
  min-width: 150px;
  background-color: #97533d;
  border-radius: 25px;

  box-shadow: 0 0 1em #000000aa;
  overflow: hidden;

}

.list {
  flex: 1; 
  overflow-y: scroll; 
  min-width: 150px;
}

.list-name {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #ffffff;
  border-radius: 25px;
  background-color: #97533d;
}


.dog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.list-button {
  background-color: #404040; 
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.delete-button {
  background-color: #700000; 
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}